<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>JOBX</title>
    {% endif %}
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>

<body>
    <!-- NavBar -->
    <nav>
        <div class="logo">
            <h4><a href="{{ url_for('home') }}">JOBX</a></h4>
        </div>
        <ul class="nav-links">
            <!-- Not showing Home button in home -->
            {% if "Home" in title %}
            <li></li>
            {% else %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% endif %}

            <li><a href="{{ url_for('about') }}">About Us</a></li>

            <!-- Showing Login/Logout button -->
            {% if session['logged_in'] %}
            <!-- Logged in -->
            <li><a href="{{ url_for('recommendation') }}">{{ session['name'] }}'s Account</a></li>
            <li><a href="{{ url_for('logout') }}"> <button id="btn">Logout</button></a></li>
            {% else %}
            <!-- Not Logged in -->
            <li><a href="{{ url_for('joinus') }}"> <button id="btn">Join JOBX</button></a></li>
            {% endif %}
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    <!-- Message Box -->
    <div class="msg-box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    {% block content %}

    {% endblock content %}

    <!-- Script for Navbar -->
    <script src="{{url_for('static', filename='JS/navbar.js')}}"></script>
</body>

</html>